<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
                Back to Menu
            </button>

            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" alt="Uthappizza" ng-src={{dish.image}}>
                </a>
            </div>

            <div class="media-body">
                <h2 class="media-heading">
                    {{dish.name}}
                    <span class="label label-danger">{{dish.label}}</span>
                    <span class="badge">{{dish.price | currency}}</span>
                </h2>

                <p>{{dish.description}}</p>
            </div>
        </div>

        <div class="col-xs-9 col-xs-offset-1">
            <h4>
                Customer Comments &nbsp;
                <label for="sortComments"><small>Sort by:</small></label>
                <input type="text" id="sortComments" ng-model="order">
            </h4>

            <blockquote ng-repeat="comment in dish.comments | orderBy: order">
                <p>{{comment.rating}} Stars</p>
                <p>{{comment.comment}}</p>

                <footer>{{comment.author}}, {{comment.date | date}}</footer>
            </blockquote>
        </div>

        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <ul class="list-unstyled">
                <li>
                    <blockquote ng-show="comment_form.$valid && !comment_form.$pristine">
                        <p>{{comment.rating}} Stars</p>
                        <p>{{comment.comment}}</p>

                        <footer>{{comment.author}}, {{comment.date | date}}</footer>
                    </blockquote>
                </li>
            </ul>

            <form class="form-horizontal" name="comment_form" role="form" ng-submit="submitComment()" novalidate>
                <div class="form-group" ng-class="{'has-error': comment_form.name.$error.required && !comment_form.name.$pristine}">
                    <label for="name" class="col-sm-2 control-label">Your Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" ng-model="comment.author" required>
                    </div>

                    <div class="col-sm-10 col-sm-offset-2" ng-show="comment_form.name.$error.required && !comment_form.name.$pristine">
                        <span class="help-block">
                            Your Name is required.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">Number of Stars</label>

                    <div class="col-xs-12 col-sm-10">
                        <label class="control-label radio-inline">
                            <input type="radio" name="rating" value="1" ng-model="comment.rating"> 1
                        </label>

                        <label class="control-label radio-inline">
                            <input type="radio" name="rating" value="2" ng-model="comment.rating"> 2
                        </label>

                        <label class="control-label radio-inline">
                            <input type="radio" name="rating" value="3" ng-model="comment.rating"> 3
                        </label>

                        <label class="control-label radio-inline">
                            <input type="radio" name="rating" value="4" ng-model="comment.rating"> 4
                        </label>

                        <label class="control-label radio-inline">
                            <input type="radio" name="rating" value="5" ng-model="comment.rating"> 5
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': comment_form.comment.$error.required && !comment_form.comment.$pristine}">
                    <label for="comment" class="col-sm-2 control-label">Your Comments</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="comment.comment" required></textarea>
                    </div>

                    <div class="col-sm-10 col-sm-offset-2" ng-show="comment_form.comment.$error.required && !comment_form.comment.$pristine">
                        <span class="help-block">
                            Your Comments are required.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="comment_form.$invalid">Submit Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>